/* HOME ////////////////////////////////////////////////////////////*/
/* Navbar ==========================================================*/
.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header ==========================================================*/
#header {
  background-image: url(./img/headerPic4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-kata1 {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 60px;
  margin-top: 250px;
  text-shadow: 2px 2px 4px #000000;
}

.header-kata2 {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.middle3-kata {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 60px;
  margin-top: 200px;
  margin-left: 100px;
  text-shadow: 2px 2px 4px #000000;
}

.middle3-kata1 {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-shadow: 2px 2px 4px #000000;
}

.middle3-kata2 {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 50px;
  margin-top: 150px;
  margin-left: 600px;
  text-shadow: 2px 2px 4px #000000;
}

/* Middlebar ======================================================*/
.middle1 {
  padding-bottom: 10px;
}

.middle2 {
  margin-bottom: 100px;
}

#middle3 {
  background-image: url(./img/container2.1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.partner {
  margin-top: 50px;
}

.partner-title {
  text-align: center;
}

.partnerIsi {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* About Us /////////////////////////////////////////////////////////*/
.aboutus {
  margin-top: 50px;
}

.aboutus-title {
  margin-bottom: 50px;
  text-align: center;
}

.aboutus-isi {
  margin-bottom: 100px;
}
/* new password /////////////////////////////////////////////////////*/
.newPassword-form {
  margin-top: 100px;
  margin-bottom: 200px;
}

#newPassword-footer {
  margin-top: 200px;
}

#background-newPassword {
  background-color: white;
}
/* Login ////////////////////////////////////////////////////////////*/
.login-form {
  margin-top: 100px;
}

.loginSignup-isi {
  margin-bottom: 100px;
}

/* INFO ///////////////////////////////////////////////////////////// */
.alumni-title {
  text-align: center;
}

.batch-logo1 {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.info-menu {
  margin-top: 50px;
}

/* profileStudent /////////////////////////////////////////////////// */
.profileStudent-title {
  text-align: center;
}

.profileStudent-isi {
  margin-top: 50px;
  margin-bottom: 150px;
}

/* profileStudent ////////////////////////////////////////////////////*/
.studentProfile {
  margin-top: 50px;
}

/* Job Details ///////////////////////////////////////////////////////*/
.jobDetails {
  margin-top: 50px;
}

.jobDetails-title {
  text-align: center;
}

.jobDetails-isi {
  margin-top: 50px;
  margin-bottom: 50px;
}
