/* HOME ////////////////////////////////////////////////////////////*/
/* Navbar ==========================================================*/
.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header ==========================================================*/
#header {
  background-image: url(./img/headerPic4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-kata1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  margin-top: 300px;
  text-shadow: 2px 2px 4px #000000;
}

.header-kata2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin-top: 100px;
  text-shadow: 2px 2px 4px #000000;
}

.middle3-kata {
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  margin-top: 200px;
  margin-left: 100px;
  text-shadow: 2px 2px 4px #000000;
}

.middle3-kata1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-shadow: 2px 2px 4px #000000;
}

.middle3-kata2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  margin-top: 100px;
  margin-left: 800px;
  text-shadow: 2px 2px 4px #000000;
}

/* Middlebar ======================================================*/
.middle1 {
  padding-bottom: 10px;
}

.middle2 {
  margin-bottom: 100px;
}

#middle3 {
  background-image: url(./img/container2.1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* About Us /////////////////////////////////////////////////////////*/
.aboutus {
  margin-top: 50px;
}

.aboutus-title {
  margin-bottom: 50px;
  text-align: center;
}

#aboutus-footer {
  margin-top: 100px;
}

/* new password /////////////////////////////////////////////////////*/
.newPassword-form {
  margin-top: 100px;
}

#newPassword-footer {
  margin-top: 200px;
}

#background-newPassword {
  background-color: white;
}
/* Login ////////////////////////////////////////////////////////////*/
.login-form {
  margin-top: 100px;
}

#login-footer {
  margin-top: 100px;
}
